.footerspace{
    height: 380px;
    position: relative;
    &::before{
        background-image: url(./assets/images/vector/form.png);
    background-size: cover;
    @extend .positionbefor;
    width: 100%;
    height: 690px;
    top: -260px;
    z-index: -1;
    }
    @include max(1199){
        height: 283px;

    }
    @include max(767){
        display: none;
    }
}
footer{
    background-color: $darkBlueColor;
    color: $footerColor;
    padding-top: 390px;
    position: relative;
    &> .container{
        @include min(1600){
            max-width: 1363px!important;
        }
    }
    @include max(1199){
        padding-top: 250px;
    }
    @include max(767){
        padding-top: 50px;
    }
    canvas.particles-js-canvas-el {
        position: absolute;
        top: 15%;
        z-index: 0;
        height: 78%!important;
    }
    .menu2{
        ul{
            li:nth-child(2){
                margin-left: 23px;
            }
        }
    }
    .formCol{
        flex-basis: 45%;
        z-index: 11;
        @include max(767){
            flex-basis: 100%;
        }
    }
    .communication {
        flex-basis: 55%;
        padding-left: 150px;
        @include max(1199){
            padding-left: 20px;
        }
        @include max(767){
            flex-basis: 100%;
            padding: 20px;
            margin-top:10px;
        }
        p{
            font-size: 20px;
            line-height: 40px;
        }
    }

    .menu li a{
        font-size: 19px;
        line-height: 23px;
        padding-bottom: 5px;
        font-weight: 300;
        color: $white;
        @include max(1500){
            font-size: 17px;
        }
        @include max(1199){
            font-size: 14px;
        }
        @include max(768){
            font-size: 18px;
        }
        &:last-child{
            padding-bottom: 0;
        }
        &:hover{
            color: $secondaryColor;
        }
    }
    .menu ul{
        margin-bottom: 30px;
        
    }
  .col-lg-3:last-child{
    ul{
        margin-bottom: 0;
    }
}
    .imageLogo{
            a{
                position: relative;
                padding-left: 30px;
                &::before{
                background-image: url(./assets/images/about.png);
                background-size: cover;
                @extend .positionbefor;
                width: 15px;
                height: 15px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                }
            }

    }
    .menu p{
        font-size: 24px;
        line-height: 29px;
        color: $secondaryColor;
        @include max(1500){
            font-size: 20px;
        }
    }
    .footerLogoSection{
        padding-bottom: 60px;
        text-align: center;
        figure{
            img{
                margin-bottom: 20px;
            }
        }
        &> p{
            width: 75%;
            margin: auto;
            font-size: 20px;
            line-height: 40px;
            font-weight: 300;
            @include max(991){
                width: 100%;
            }
        }
    }
    ul.countries{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        figure{
            display: flex;
            align-items: center;
        }
        img{
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-right: 10px;
            margin-bottom: 0;
        }
        li{
            display: flex;
            align-items: center;
            padding-right: 100px;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 24px;
            color: $white;
            &:last-child{
                padding-right: 0;
            }
        }
    }
    .container{position: relative;z-index: 1;}
}
.copyright{
    margin-top: 100px;
    padding: 30px 0px;
    z-index: 1;
    position: relative;
    border-top:1px solid rgb(255 255 255 / 20%) ;
    .socialLinks,.copyText{
        flex-basis: 50%;
        max-width: 50%;

    }
    .copyText{
        text-align: right;
        @include max(767){
            text-align: left;
        }
        P{
            @include max(767){
                font-size: 12px;
            }
        }
    }
     .socialLinks{
        @include max(767){
            flex-basis: 45%;
            max-width: 45%;
        }
     }
    .copyText{
        @include max(767){
            flex-basis: 55%;
            max-width: 55%;
        }
    }
    .socialLinks ul{
        display: flex;
        align-items: center;
        li{
            margin-right: 20px;
            width: 33px;
                height: 33px;
                border: 1px solid $white;
                border-radius: 33px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
            @include max(767){
                margin-right: 5px;
                padding: 5px;
                width: 25px;
                 height: 25px;

            }
            &:last-child{
                margin-right: 0;
            }
            img{
                width: 100%;
            }
        }
    }
    .copyText{
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }
}


.contactForm{
    background-color: $btnColor;
    padding: 60px 90px;
    border-radius: 30px;
    text-align: left;
    position: absolute;
    width: 100%;
    top: -60%;
    transform: translateY(-50%);
    &::before{
        background-image: url(./assets/images/shapes/form.svg);
        @extend .positionbefor;
        left: 0;
        top: 0;
        background-size: cover;
        width: 313.07px;
        height: 300px;
        z-index: 0;
    }
    @include max(1199){
        padding: 40px 50px;
      top: -40%;
    }
    @include max(991){
        top: -26%;
    }
    @include max(767){
        position: initial;
        padding: 30px 20px;
        transform: translateY(0);
        margin-bottom: 50px;
    }
 
    span{
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: $white;
        display: block;
        margin-bottom: 15px;
        @include max(767){
            margin-bottom: 0;
            font-size: 18px;
        }
    }
    .head{
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
        color: $white;
        margin-bottom: 45px;
        @include max(767){
            margin-bottom: 0;
            font-size: 25px;
        }
    }
    .title{
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: $white;
        margin-bottom: 0;
        flex-basis: 100%;
        padding-top: 15px;
        @include max(991){
            font-size: 22px;
            line-height: 40px;
        }
        @include max(767){
            padding-top: 0;
        }
    }.designation{
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: $white;
        flex-basis: 100%;
        @include max(991){
            font-size: 16px;
        line-height: 22px;
        }

    }
   .communication{
    img{
        width: 98px;
    object-fit: cover;
height: 98px;
border: 1px solid $secondaryColor;
border-radius: 20px;
@include max(767){
    margin-bottom: 0;
}
    }
.contactTel {
font-size: 20px;
line-height: 24px;
padding-top: 30px;
@include max(767){
    padding-top: 0;
}
a{
    position: relative;
    padding-left: 40px;
    &::before{
        @extend .positionbefor;
        left: 0;
        width: 27px;
        height: 27px;
        background-image: url(./assets/images/icons/phone.png);
        background-size: cover;
    }
}
p{

color: $secondaryColor;
}
a{
    color: $white;
    font-weight: 400;
}

}
   }

}
.input-holder input ,.input-holder textarea{
    width: 100%;
    background-color: unset;
    border: unset;
    outline: unset;
   border-bottom: 1px solid $white;
   color: $white;
   font-weight: 400;
font-size: 18px;
line-height: 22px;
}
.input-holder textarea{
    padding: 0;
    height: 25px;
    
}
.input-holder {
    height: 60px;
}
::placeholder{
    color: $white;
    font-weight: 400;
font-size: 18px;
line-height: 22px;
}
button{
    background: $primaryColorLight;
border: 1px solid $primaryBorderColor;
border-radius: 20px;
padding: 12px 30px;
font-size: 20px;
line-height: 40px;
outline: unset;
border: unset;
font-weight: 500;
text-transform: uppercase;
color: $white;
@include max(767){
    padding: 10px 25px;
    font-size: 18px;
    line-height: 36px;
}
&:hover{
    background-color: $darkBlueColor;
    border: 1px solid $darkBlueColor;
}
}