body{
	font-family: $primary-font;
	font-weight:$fw-500;
	font-size: 20px;
	line-height: 40px;
	overflow-x: hidden;
}



.about-penta{
	padding: 260px 0px 0px 0px;
	position: relative;
	
	@include max(1600){
	padding: 160px 0px 0px 15px;
	}
	@include max(1500){
		padding: 210px 0px 0px 15px;
		}
	@include max(991){
		padding: 180px 0px 0px 0px;

	}
	@include max(767){
		padding: 0px 0px 0px 0px;

	}
		.container >.row{
			@include max(767){
				flex-direction: column-reverse;
			}
		}
	ul.about-list{
		column-count: 2;
		width: 792px;
		position: absolute;
		left: 63px;

		@include max(1600){
			width: 712px;
			left: 43px;
		}
		@include max(1440){
			width: 40%;
		}
		@include max(1199){
			column-count: 1;
		}
		@include max(768){
			width: 25%;
			left: 30px;
		}
		@include max(767){
			width: 100%;
			position: initial;
			column-count: 2;
			height: auto;
		}
		li{
			display: flex;
			margin-bottom: 20px;
			position: relative;
			&:nth-child(1) img,&:nth-child(2) img{
				@include min(1200){
					height: 442px;
				}
			}
			&:nth-child(3) img{
				@include min(1200){
					height: 725px;
				}
			}
			&::after{
				opacity: 0;
				transition: 0.8s linear;
				@extend .positionbefor;
				background-image: url(./assets/images/icons/brandHover.svg);
				background-size: cover;
				width: 100%;
				height: 100%;
				z-index: 2;
				background-position: center;
				border-radius: 30px;

			}
			&:hover::after{
				transition: 0.8s linear;
				opacity: 1;
			}
			&:last-child::after{
					background-image: unset;
			}
			&:nth-child(3)::after{
				background-image: url(./assets/images/icons/brandHover.png);
			}
		}
		img{
			width: 100%;
			border-radius: 30px;
			object-fit: cover;
			@include max(1199){
				height: 280px;
				object-position: center;
			}
			@include max(768){
				height: 285px;
			}
			@include max(767){
			 height: 200px;
			 border-radius: 20px;
			}
		}
		p{
			font-size: 30px;
			line-height: 40px;
			text-align: center;
			background-color: $primaryColor;
			background-image: url(./assets/images/vector/btn-bg.png);
			background-size: cover;
			color: $white;
			padding: 24px 69px 33px 105px;
			width: 400px;
			height: 165px;
			border-radius: 30px;
			z-index: 1;
			position: relative;
			&::after{
				@extend .round;
				background-color: #4AAD97;
				z-index: -1;
				top: 24px;
				right: 62px;
				animation: circleTrust 13s linear infinite!important;
			}
			@include max(1600){
				width: 100%;
			}
			@include max(1440){
				padding: 24px 20px 24px 20px;
			}
			@include max(768){
				@include fontSize(20px);
				height:auto;
			}
			@include max(767){
				@include fontSize(25px);
				height: 200px;
				padding: 50px 0px;
				border-radius: 20px;
			}
			canvas.particles-js-canvas-el {
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 30px;
				z-index: -1;
			}
		}
		span{
			@include fontSize(70px);
			line-height: 40px;
			display: block;
			margin-top: 20px;
			letter-spacing: 0.1em;
			z-index: 1;
			@include max(1440){
				@include fontSize(60px);
			line-height: 30px;
			}
			@include max(768){
				@include fontSize(30px)
			}
			@include max(767){
				@include fontSize(35px)
			}
			sup{
				position: absolute;
				top: 90px;
				font-size: 45px;
				@include max(767){
					top: 105px;
					font-size: 35px;

				}
			}
		}
	}
}
	.shortTitle{
		@include fontSize(20px);
		line-height: 20px;
		color: $secondaryColor;
		display: block;
		padding-bottom: 20px;
		@include max(767){
			@include fontSize(16px);
			padding-bottom: 5px;
		}
	}

.about-content{
	
    width: 82%;
    margin-left: auto;
	@include max(1440){
		width: 95%;
	}
	@include max(768){
		width: 70%;
	}
	@include max(767){
		width: 100%;
		margin: 30px 0px 30px 0px;
	}
	h2{
		line-height: 40px;
		color: $blackColor;
		padding-bottom: 30px;
		@include max(767){
			padding-bottom: 0;
		}
	}
	p{
		font-size: 24px;
		line-height: 40px;
		color: $btnColor;
		padding-bottom: 10px;
		@include max(767){
			font-size: 20px;
    		line-height: 30px;
		}
	}
	article{
		background: #F9F9F9;
		border: 1px solid #EEEEEE;
		box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.05);
		border-radius: 30px;
		width: 340px;
		height: 153px;
		@include fontSize(24px);
		line-height: 40px;
		padding: 40px 32px 40px 71px;
		position: relative;
		z-index: 1;
		@include max(1199){
			line-height: 26px;
			@include fontSize(18px);
		}
		&::after{
			@extend .round;
			background-color: #C0DED7;
			top: 14px;
			left: 32px;
			z-index: -1;
			@include max(767){
				left: 5px;
			}
		}
		@include max(1440){
			width: 100%;
			height: 123px;
			padding: 20px 20px 20px 20px;
			display: flex;
			align-items: center;
		}
		@include max(768){
			@include fontSize(20px);
			line-height: 30px;
		}
		@include max(767){
			@include fontSize(15px);
			line-height: 25px;
			padding: 20px 10px 20px 10px;
			height: 100px;
		}
	}
	.grey-text{
		font-weight: 500;
		font-size: 20px;
		line-height: 40px;
		color:$greyColor;
		padding:50px 0px 35px 0px;
		@include max(1440){
			padding: 20px 20px 20px 20px;
		}
		@include max(767){
			padding: 20px 0px 20px 0px;
			font-size:18px;
		line-height: 30px;
		}
		
	}
}
.round{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	content: '';
	animation: circle 13s linear infinite;
	position: absolute;
	@include max(767){
		width: 80px;
		height: 80px;
	}
}
.clients{
	margin-top: 150px;
	background-color: $darkBlueColor;
	background-image: url(./assets/images/vector/client.png);
	position: relative;
	@include max(991){
		margin-top:50px;
	}
	.row{
		height: 726px;
		align-items: center;
		@include max(1600){
			height: 666px;
		}
		@include max(1440){
			height: 550px;
		}
		@include max(1199){
			height:430px;
		}
		@include max(991){
			height:auto;
			padding: 30px 0px;
		}
	}
	span{
		@extend .shortTitle;
	}
	h2{
		color: $white;
		margin-bottom: 45px;
		@include max(1199){
			margin-bottom: 25px;
		}
	}
	ul{
		display:flex;
		flex-wrap: wrap;
		align-items: center;
	}
	li{
		max-width: 20%;
		flex-basis: 20%;
		padding-bottom: 25px;
		@include max(1440){
			padding-bottom: 0;
		}
		@include max(1199){
			padding-bottom: 15px;
			display: flex;

		}
		@include max(991){
			padding-bottom:10px;

		}
		@include max(767){
			padding-bottom:15px;

		}
		img{
			@include max(1199){
				width: 80px;
				height: auto;
				object-fit: cover;
			}
			@include max(991){
				width: 130px;
			}
			@include max(767){
				width: 60px;
				margin: auto;
			
			}
		}
	}
	figure{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		@include max(1440){
			width: 35%;
		}@include max(1440){
			width: 35%;
		}
		@include max(991){
			width: 70%;
			position: initial;
			margin: auto;
			transform: translateY(0%);
			margin-top: 20px;
		}
	}
	.icon-box{
		position: absolute;
		width: 170px;
		height: 170.94px;
		background-color: $primaryColor;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		z-index: 2;
		border-radius: 30px;
		left: -70px;
		top: 45px;
		@include max(1440){
			width: 150px;
			height: 150px;
		}
		@include max(1199){
			width: 110px;
			height: 110px;
		}
		@include max(991){
			border-radius: 20px;
		}
		@include max(767){
			width: 70px;
			height: 70px;
			left: -40px;
			border-radius: 10px;

		}
		img{
			width: 60px;
			height: 60px;
			@include max(1199){
				width: 40px;
				height: 40px;
			}
			@include max(767){
				width: 30px;
			    height: 30px;
			}
		}
		p{
			font-size: 20px;
			line-height: 40px;
			color: $white;
			font-weight: 400;
			padding-top: 10px;
			@include max(1199){
				font-size: 16px;
				line-height: 22px;
				padding-top: 5px;
			}
			@include max(767){
				font-size: 12px;
				line-height: 24px;
				padding-top: 0px;
			}
		}
	}
	article{
		width: 93.5%;
		@include max(1600){
			width: 80%;
    		padding-left: 38px;
		}
		@include max(1440){
			width: 100%;
			padding-left: 0;
		}
	}
}
.positionbefor{
	content: '';
	position: absolute;

}




.counter { 
	position: relative;
	&> figure{
		img{
			mix-blend-mode: luminosity;
			width: 100%;
			@include max(767){
				height: 350px;
				object-fit: cover;
			}
			@include max(576){
				height: 370px;
			}
		}
	}
	.counter-outer{
		position: absolute;
		top: 56%;
		z-index: 2;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		@include max(767){
			top: 50%;
    transform: translate(-50%, -53%);
		}
	}
	.row >{
		div{
			&:first-child{
				padding-left: 0;
				@include max(767){
					padding-left: 15px;
				}
			}
		}
	}
}
.counter-wrap{
	width: 391px;
	height: 310px;
	margin: auto;
	background-color: $primaryColor;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 0px 35px 0px 35px;
	box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.15);
	position: relative;
	@include max(1600){
		width: 351px;
		height: 270px;
	}
	@include max(1499){
		width: 291px;
		height: 200px;
	}
	@include max(1199){
		width: 231px;
		height: 160px;
		padding: 0px 15px 0px 15px;
	}
	@include max(991){
		width: 171px;
		height: 150px;
		flex-wrap: wrap;
		padding: 5px 15px 5px 15px;
	}
	@include max(767){
		margin: 10px auto;
		width: 250px;
		height: 150px;
	}
	@include max(567){
			width:160px;
		height: 160px;
	}
	@include max(380){
		width: 150px;
   		 height: 150px;
	}
	@include max(360){
		width: 120px;
   		 height: 160px;
		 
	}
	
	&::after{
		@extend .positionbefor;
		background-image: url(./assets/images/shapes/countershape.svg);
		background-size: cover;
		width: 313.07px;
		height: 300px;
		z-index: 0;
		left: 0;
		top: 0;
		@include max(1600){
			width: 273.07px;
			height: 260px;
		}
		@include max(1499){
			width: 203.07px;
    		height: 194px;
		}
		@include max(1199){
			width: 161.07px;
    		height: 154px;
		}
		@include max(991){
			width: 147.07px;
    		height: 140px;
		}
		@include max(360){
				width: 111.07px;
				height: 106px;
		}
	}

	p{
		@include fontSize(70px);
		line-height:40px;
		color: $white;
		position: relative;
		@include max(1499){
			@include fontSize(50px);
			line-height:20px;

		}
		@include max(991){
			@include fontSize(30px);
			line-height:15px;

		}
		&:first-child{
			padding-bottom: 16px;
			@include max(1600){
				padding-bottom: 0;
			}
 		}
		&:nth-child(2){
			@include fontSize(30px);
			line-height: 40px;
			font-weight: 400;
			@include max(1499){
				@include fontSize(25px);
				line-height: 35px;
			}
			@include max(1199){
				@include fontSize(20px);
				line-height: 30px;
			}
			@include max(992){
				@include fontSize(18px);
				line-height: 24px;
			}
			@include max(767){
				@include fontSize(16px);
				line-height: 22px;
			}
		}
		sup{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include fontSize(73px);
			@include max(1499){
				@include fontSize(43px);
				top: 40%;
			}
			@include max(991){
				@include fontSize(25px);
			}
		}
	}
	figure{
			flex-basis: 50%;
			max-width: 50%;
			position: relative;
			z-index: 1;
			@include max(991){
				flex-basis: 100%;
				max-width: 100%;
			}
			&::before{
				@extend .round;
				animation: none;
				background-color: $secondaryColor;
				z-index: 2;
				@include max(1499){
					width: 80px;
					height: 80px;
				}
				@include max(991){
					width: 50px;
					height: 50px;
				}
			}
			img{
				@include max(1499){
					width: 80px;
					height: 80px;
				}
				@include max(991){
					width: 50px;
					height: 50px;
				}
			}
	}
	article{
		flex-basis: 50%;
		max-width: 50%;
		z-index: 1;
		@include max(991){
			flex-basis: 100%;
			max-width: 100%;			
		}
	}
	
}

.our-services{
	@include max(991){
		padding: 110px 0px 0px 0px;
	}
	.container > .row{
		@include max(767){
			flex-direction: column;
		}
	}
	@include max(767){
		padding-top: 50px;
	}
	.service-col {
		flex-basis: 51%;
		max-width: 51%;
		@include max(767){
			flex-basis: 100%;
			max-width: 100%;
		}
	}
	.service-col-two {
		flex-basis: 49%;
		max-width: 49%;
		@include max(767){
			flex-basis: 100%;
			max-width: 100%;
		}
	}
	.about-content{
		width: 100%;
		@include max(767){
			margin-top: 0;
		}
	}
	 .grey-text {
		padding: 28px 0px 40px 0px;
		@include max(1499){
			padding: 10px 0px 10px 0px;
		}
	}
	article{
		margin: auto;
		margin-bottom: 60px;
		border: 1px solid #EEEEEE;
		border-radius: 30px;
		box-shadow: 0px 40px 18px rgba(0, 0, 0, 0.05);
		background-color: $white;
		width: 380px;
		height: 230px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		@include max(1600){
			width: 360px;
		}
		@include max(1499){
			width: 270px;
		}
		@include max(767){
			width: 80%;
			height: 180px;
		}
		p{
			font-size: 24px;
			line-height: 40px;
			color: $blackColor;
			margin-top: 20px;
		}
		img{
			@include max(767){
				width: 20%;
			}

		}
	}
	
 ul.slick-dots {
    text-align: left;
    margin-left: 20px;
	position: absolute;
	@include max(1199){
		margin-left: 0;
		text-align: center;
	}
	}

}


.case-studies{
	padding: 150px 0px 60px 0px;
	background-color: $darkBlueColor;
	color: $white;
	margin-top: 150px;
	position: relative;
	background-image: url(./assets/images/vector/case.png);
	background-blend-mode: overlay;
	@include max(1600){
		padding: 80px 0px 60px 0px;
	}
	@include max(767){
		margin-top: 60px;
		padding: 30px 0px 30px 0px;
	}
	&::before{
		@extend .positionbefor;
		width: 990.98px; height: 1011.67px;
		background-image: url(./assets/images/shapes/case.svg);
		background-size: cover;
		top: 0;
		z-index: 0;
		@include max(1600){
			width: 890.98px;
			height: 911.67px;
		}
		@include max(1599){
			width: 814.98px;
			height: 831.67px;
		}
		@include max(1399){
			width: 754.98px;
		    height: 771.67px;

		}
		@include max(1199){
			width: 574.98px;
			height: 586.67px;
		}
		@include max(768){
			width: 670px;
    		height: 684px;
		}
		@include max(767){
			width: 100%;
			height: 398px;
		}
		@include max(481){
			width: 302px;
			height: 308px;
		}
	}
	.row >{
		div{
			text-align: center;
			padding-bottom: 72px;
			z-index: 1;
			@include max(1024){
				padding-bottom: 40px;
			}
			@include max(991){
				padding-bottom: 0px;
			}
		}
	}
	h2{
		text-transform: uppercase;
		@include max(481){
			margin-bottom: 20px;
		}
	}
	.slick-dots li button:before{
		background-color: $primaryColor;
	}
	.slick-dots li.slick-active button:before{
		background-color: $white;
	}
}
.case-content{
	text-align: left;
	z-index: 2;
	position: relative;
	@include max(991){
		margin-top: 30px;
	}
	p{
		span{
			font-size: 24px;
			line-height: 40px;
			padding-bottom: 20px;
			display: block;
			@include max(481){
				font-size: 20px;
				text-align: center;
			}
		}
		&.discription{
			font-size: 20px;
			line-height: 40px;
			padding-top: 20px;
			color: #CCCCCC;
			@include max(481){
				@include fontSize(16px);
				line-height:32px;
			
			}
		}
	}
	ul{
		li{
			font-size: 20px;
			line-height: 40px;
			@include max(481){
				@include fontSize(16px)
			}
			@include max(1199){
				display: flex;
				align-items: center;
			}
			img{
				padding-right: 38px;
				display: initial;

				@include max(1199){
					padding-right: 18px;
				}
				@include max(481){
					width: 13%;
				}
			}
			&:first-child{
				padding-bottom: 15px;
			}
		}
	}

	&> a{display: block;}
	.btnpenta{
		margin-top: 104px;
		@include max(1199){
			margin-top: 10px;
		}
		@include max(481){
			margin-top: 20px;
		}
	}
}
.case-slider{
	width: 84%;
	@include max(1600){
		margin: auto;
		width: 86%;
	}
	@include max(1499){
		width: 90%;
	}
	@include max(991){
		width: 100%;
	}
	@include max(767){
		margin: auto;
		width: 90%;
	}
	.slick-dots{
		bottom: 0;
		left: -70px;
		@include max(991){
			left: 0;
		}
	}
	.slick-slide {
		figure{
			transform: scale(.8);
			left: -23%;
			z-index: -1;
			transition: 0.5s ease all;
			@include max(1440){
				transform: scale(0.6);
				left: -42%;
			}
			@include max(767){
				transform: scale(1);
				left: 0;
			}
		
				
			&:after {
				background-color: #ffffff91;
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: -80%;
				z-index: 9;
				border-radius: 30px;
				@include max(481){
					background: unset;
					position: initial;
				}
			}
		}
		img{
			left: -80%;
			filter: grayscale(100);
			@include max(481){
				left: 0;
				filter: initial;
			}
		}
		
	}
	.slick-slide.slick-current {
		figure{
			transform: scale(1);
			z-index: 1;
			transition: 0.5s ease all;
			left: -16px;
			@include max(1440){
				transform: scale(0.7);
			}
			@include max(767){
				transform: scale(1);
				left: 0;
				
			}
			&::after{
				background: unset;
				position: initial;
			}
		}
		img{
			left: -11%;
			z-index: 1;
			position: relative;
			filter: grayscale(0);
			@include max(1199){
				left: 0%;
			}
			@include max(767){
				width: 100%;
				object-fit: cover;
				border-radius: 20px;
				left: 0;
			}
		}
	}
	figure{
		position: relative;

		img{
			border-radius: 30px;
			width: 609px;
			height: 580px;
			padding: 15px;
			background-color: $white;
			@include max(1499){
				width: 669px;
				height: 640px;
			}
			@include max(1199){
				width: 599px;
    			height: 560px;
			}
			@include max(767){
				border-radius: 20px;
			}
			@include max(481){
    			height: 314px;
				object-fit: cover;
			}
		}

	}
	.slick-next {
		@include max(991){
			right: 0;
		}
	}
	.slick-prev, .slick-next{
		@include max(991){
			top: 88%;
		}
	}
}


.portfolio{
	padding:150px 0px 60px 0px;
	@include max(1600){
		padding:80px 0px 60px 0px;

	}
	@include max(767){
		padding: 30px 0px 30px 0px;
	}
	h2,span{
		text-align: center;
	}
	h2{
		padding-bottom: 0px;
	}
	
	.filter { 
		text-align: center; 
		margin:  auto;
		padding: 25px 0px;
		a{
			padding-right: 45px;
			font-size: 24px;
			color: $greyColorDark;
			@include max(1199){
				padding-right: 20px;
			}
			@include max(991){
				padding-right: 13px;
    			font-size: 16px;
			}
			&:last-child{
				padding-right: 0;
			}
		}
	}
  
  .filter a.current { color: $primaryColor; }
	figure img{
		border: 1px solid #C4C4C4;
			border-radius: 30px;
			filter: grayscale(100);
			transition: 0.5s ease-in-out;

	}
	figure:hover{
		cursor: pointer;
		img{
			filter: grayscale(0);
			transition: 0.5s ease-in-out;
		}
	}
	.box{
		@include min(1024){
			padding: 0px 6px;
		}
	}
	.boxGroup {
		.col-12{
			text-align: center;
		}
		.btnpenta{
			margin: 40px 0px 0px 0px;
			@include max(767){
				margin: 20px 0px 0px 0px;

			}
		}
	}
}

.testimonial{
	background-color: $primaryColor;
	padding: 147px 0px 470px 0px;
	position: relative;
	overflow: hidden;
	@include max(1700){
		padding: 80px 0px 450px 0px;
	}
	@include max(1599){
		padding: 77px 0px 370px 0px;
	}
	@include max(1199){
		padding: 50px 0px 50px 0px;
	}
	&::before{
		@extend .positionbefor;
		background-size: cover;
		width: 700.6px;
		height: 899.54px;
		top: 0;
		right: 0;
		background-image: url(./assets/images/shapes/testimonial.svg);
		@include max(1600){
			width: 530.6px;
    		height: 729.54px;
		}
		@include max(1399){
			width: 480.6px;
    		height: 679.54px;
		}
	}
	h2{
		color: $white;
		padding-bottom: 70px;
		@include max(767){
			padding-bottom: 30px;
		}
	}
	.container{
		position: relative;
	}
}
.testimoalSlider {

	color: $white;
	.slick-dots{
		margin-top: 40px;
	}
	.slick-dots li.slick-active button:before{
		background-color: $white;
	}
	.profileDetails,.review{
		text-align: left;
	}
	.profileDetails{
		.title{
			font-weight: 400;
			font-size: 30px;
			line-height: 60px;
			margin-bottom: 10px;
			@include max(768){
				font-size: 25px;
				line-height: 50px;
				margin-bottom: 0;
			}
		}
		span{
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.3em;
			color: $secondaryColor;
			margin-bottom: 25px;
			display: block;
			font-weight: 400;
		}
		img{
			padding-bottom: 40px;
			position: relative;
			
		}
		.rating{
			display: flex;
			align-items: center;
			ul{
				display: flex;
				padding-left: 40px;
				li{
					padding-right: 5px;
					&:last-child{
						padding: 0;
					}
				}
			}
		}
	}
	.review{
		width: 600px;

		p{
			font-weight: 400;
			font-size: 20px;
			line-height: 40px;
			color: #F1F1F1;
			max-height: 170px;
			overflow-y: auto;
			@include max(1499){
				padding: 0px 10px;
			}
			@include min-max(768,1023){
				max-height: 240px;
			}
			@include max(767){
				font-size: 18px;
				line-height: 36px;
				max-height: 190px;
			}
		}
	}
	
	article{
		display: flex!important;
		flex-wrap: wrap;
		justify-content: center;
	
		figure {
			width: 76px;
			height: 76px;
			background-color: $secondaryColor;
			border-radius: 50px;
			padding: 18px  23px;
			margin: 17px 40px 0px 0px;
			flex-basis: 76px;
			@include max(768){
				margin: 17px 10px 0px 0px;
			}
		}
		.profileDetails {
			flex-basis: 61%;
			@include max(768){
				flex-basis: 75%;
			}
		}
	}
	::-webkit-scrollbar-button       {height: 20px;  }

}


.ourNews{

	.col-lg-3 {
		@include min-max(1024,1199){
			width: 49.5%;

		}
		@include max(1199){
			margin-bottom: 30px;
		}
	}
	@include max(1199){
		padding: 50px 0px;
	}
	position: relative;
	
	@include min(1300){
		margin-top: -25.5%;
	}
	@include min(1601){
		margin-top: -19.5%;
	}
	h2{
		color: $white;
		padding-bottom: 60px;
		@include max(1199){
			color: $black;
		}
		@include max(767){
			padding-bottom: 20px;
		}
	}
	.row{
		justify-content: space-between;
		@include min-max(1600,1699){
			justify-content: center;
		}
	}
	.col-lg-3{
	
		@include min(1601){
			width: 350px;
		flex-basis: 350px;
		max-width: 350px;
		padding: 0 10px 0px 0px ;
		}
	}
	article{
		background-color: $white;
		border: 1px solid #EEEEEE;
		border-radius: 30px;
		height: 439px;
		padding: 15px;
		transition: 0.5s ease-out;
		@include max(1499){
			height: 400px;
		}
		@include max(1199){
			height: 100%;
		}
		@include min(1499){
			padding: 25px 31px 15px 31px;
		}
		@include min(1601){
			padding: 20px 18px 15px 18px;
		}

		&:hover{
			box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.1);
			transition: 0.5s ease-in;
			transform: translateY(-20px);
		}
		img{
			width: 305px;
			height: auto;
			object-fit: cover;
			@include max(1199){
				width: 100%;
				height: auto;
				border-radius: 10px;
			}
		}
		figure{
			text-align: center;
		}
		.pushlishDetails{
			display: flex;
			width: 100%;
			padding-top: 10px;
			align-items: center;
			padding-bottom: 25px;
		}
		.date{
			font-size: 18px;
			line-height: 25px;
			padding: 7px 18px;
			background-color: $primaryColor;
			border-radius: 10px;
			color: $white;
			margin: 0;
			@include max(1499){
				font-size: 15px;
				line-height: 20px;
				padding: 5px 15px;
			}
		}
		.time{
			font-size: 18px;
			line-height: 25px;
			color: #676767;
			flex-basis: 60%;
			text-align: right;
			font-weight: 400;
			@include max(1499){
				font-size: 15px;
			}
		}
		h3{
			font-weight: 400;
			@include fontSize(20px);
			line-height: 30px;
			padding-bottom: 25px;
			@include max(1499){
				@include fontSize(16px);
			}
			@include max(767){
				padding-bottom: 0;

			}
		}
		.newsBtn{
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.3em;
			text-transform: uppercase;
			color: $primaryColor;
			width: 100%;
			position: relative;
			@include max(1599){
				font-size: 14px;
			}
			&::after{
				@extend .positionbefor;
				background-size: cover;
				right: 30%;
				bottom: 0;
				width: 40px;
				height: 8px;
				transition: 0.5s all;
				background-image: url(./assets/images/icons/rightArrow.svg);
				@include max(1499){
					right: 25%;
				}
			}
			&:hover {
				&::after{
					right: 0;
					transition: 0.5s all;
				}
			}
		}
		.cnt{
			margin: 0 0 10px 0;
			color: #999999;
			font-size: 18px;
			line-height: 30px;
			font-weight: 400;
			@include max(1599){
				font-size: 14px;
			}
		}
		.description{
			max-height: 120px;
			overflow: hidden;
			@include max(1199){
				max-height: 90px;
			}
		}
	}
}

