@include min(575) {
}
// Min-width 575

@include min(992) {
}
// Min-width 992
@include min-max(768, 1199) {
}
// Min-width 768  and Max-width 1199
@include min-max(992, 1199) {
}
@include min(1200) {
  .desktop-clear {
    clear: both;
    display: block;
  }
  body {
    @include fontSize(18px);
  }
}
// Min-width 1200
@include min-max(1200, 1599) {
  
}
// 1200 1599
@include min(1600) {
  body {
    @include fontSize(20px);
  }
  p {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin: 0;
      margin-top: 30px;
    }
  }
  blockquote {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 30px;
    }
  }
  ul,
  ol {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 30px;
    }
  }
}


// Min-width 1600
@include max(1599) {
}
@include max(1199) {
  
}
// max width 1199px
@include max(991) {
}
// Max-width 991
@include max(767) {
}
// Max-width 767
@include max(574) {
}
// Max-width 574
@include min(768){
.tw-col-sm-12{
  flex-basis: 100%;
  max-width: 100%;
}
}
@include min(768){
  .tw-col-md-4 {
    flex-basis: 33.3%;
	  max-width: 33.3%;
}
  .tw-col-md-6 {
    flex-basis: 50%;
	  max-width: 50%;
}
.tw-col-md-12{
  flex-basis: 100%;
  max-width: 100%;
}
}
@include min(1024){
  .tw-col-lg-4 {
    flex-basis: 33.3%;
	  max-width: 33.3%;
}
  .tw-col-lg-6 {
    flex-basis: 50%;
	  max-width: 50%;
}
.tw-col-lg-5 {
  flex-basis: 40%;
  max-width: 40%;
}
.tw-col-lg-7 {
  flex-basis: 60%;
  max-width: 60%;
}
}
@include min(1200){
  .tw-col-xl-4 {
    flex-basis: 33.3%;
	  max-width: 33.3%;
}
  .tw-col-xl-6 {
    flex-basis: 50%;
	  max-width: 50%;
}
.tw-col-xl-5 {
  flex-basis: 40%;
  max-width: 40%;
}
.tw-col-xl-7 {
  flex-basis: 60%;
  max-width: 60%;
}
.tw-col-xl-12 {
  flex-basis: 100%;
  max-width: 1000%;
}
}
// Browser Hack for Firefox Only
@-moz-document url-prefix() {
  @include placeholder {
    line-height: 54px;
  }
  textarea {
    @include placeholder {
      line-height: 1;
    }
  }
  .form-elements {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}
